@if(!isLoading) {

  <mat-card>
    <mat-card-header class="header">
      <mat-card-title>
        Assigned Employees
      </mat-card-title>

      <button mat-raised-button color="primary" (click)="openAssignEmployees()">
        @if(assignedEmployeeList.length<1) {
          Add Employees
        } @else {
          Edit Employees
        }
      </button>
    </mat-card-header>

    <mat-card-content>
      @if (assignedEmployeeList.length>0) {
        <div>
          <mat-list>

            <mat-list-item>
              <mat-grid-list cols="9">
                <mat-grid-tile colspan="3">
                  Employee Name
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  Role
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  Department
                </mat-grid-tile>
              </mat-grid-list>
            </mat-list-item>

            <mat-list-item *ngFor="let employee of assignedEmployeeList">
              <mat-grid-list cols="9">
                <mat-grid-tile colspan="3">
                  {{ employee.name_ | truncate:20 }}
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  {{ getRoleName(employee.roleId)! | truncate:20 }}
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  {{ getDepartmentName(employee.departmentId)! | truncate:20 }}
                </mat-grid-tile>
              </mat-grid-list>
            </mat-list-item>

          </mat-list>
        </div>
      }
      @else {
        No assigned employees
      }
    </mat-card-content>
  </mat-card>

} @else {
  <mat-spinner></mat-spinner>
}
